<div id="sidebar-wrapper">
	<div class="container-fluid">
		<ul style="list-style-type: none;" class="nav-sidebar center">
			<li class="sidebar-brand">
				<%= image_tag "TheTrap Logo.png" %>
			</li><br>
			<li>
				<%= image_tag "Pause.png" %>
			</li>
			<li>
				<%= image_tag "Play.png" %><br>
				<%= image_tag "Seperator.png" %>
			</li>
			<li>
				Song Title
			</li>
			<li>
				<%= image_tag "Forward.png" %>
			</li>
		</ul>
	</div>
</div>